.plot {
    text-align: center;
    padding:20px;
    width: 50%;
    margin: auto;
    border-radius: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.head{
    text-align: center;
    margin: auto;
    margin-top: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* .pwcld{
    background-color: darkgray;
    text-align: center;
}
.nwcld{
    background-color:indianred ;
    text-align: center;
} */
/* #container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
} */
body {
    background-color: rgb(233, 214, 214);
}
.div1{
    margin-top: 10px;
    background-color:#8bbe61;
    width: 50%;
    text-align: center;
    float:left;
    border-style: solid;
    border-color:white;
    border-width: 5px;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div2{
    margin-top: 10px;
    background-color:#d83068;
    width: 50%;
    text-align: center;
    float: right;
    border-style: solid;
    border-color:white;
    border-width: 5px;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dframe1 {
    text-align: center;
    margin-top: 10px;
    /* margin-right: 100px; */
    
    float: left;
    width : 100%;
    /* box-sizing: border-box; */
    border-style: solid;
    border-color:white;
    border-width: 5px;
    background-color:rgb(179, 96, 96);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dframe2 {
    text-align: center;
    margin-top: 10px;
    /* margin-left: 2px; */
    /* margin-right: 30px; */
    float: right;
    width: 100%;
    border-style: solid;
    border-color:white;
    border-width: 5px;
    background-color:rgb(170, 228, 170);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
